.Address {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 600px;
    padding: 24px 0px;
    position: relative;
    transition: .4s ease-in-out;


    .f16 {
        font-size: 16px;
    }

    .AddressList {
        flex-wrap: wrap;

        .card {
            min-height: 130px;
            width: 350px;
            border-radius: 8px;
            padding: 16px;
            border: 1px solid #DADADA;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .head {
                h2 {
                    color: #E74F26;
                    font-size: 14px;
                }

                span {
                    display: flex;
                    gap: 15px;
                }
            }

            .mainText {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 3px;

                span {
                    font-size: 14px;
                }
            }

            .foot {
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    .addAddressModel {
        position: absolute;
        padding: 16px 25px;
        top: 80px;
        left: 0px;
        background-color: #a5a5a53d;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        backdrop-filter: blur(3px);

        .Content {
            flex-wrap: wrap;
            gap: 20px;

            span {
                flex-basis: 45%;
                display: flex;
                flex-direction: column;
                gap: 3px;

                p,
                label {
                    font-size: 14px;
                }

            }
        }

        .foot {
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            div {
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 10px;
            }

        }

    }

    button {
        padding: 8px 24px;
        border-radius: 6px;
        border: none;
        color: white;

        &.Mainbutton {
            padding: 8px 30px;
            background-color: #E74F26;
        }

        &.cancel {
            background-color: #2A2A2A;
        }
    }

}