.Ad {
    .head {
        h1 {
            font-size: var(--heading);
        }

        p {
            color: var(--comment);
            font-size: var(--text);
        }
    }

    .AdImage {
        background-size: cover;
        background-position: center;
        border-radius: .75rem;
    }

    .suggestions {
        padding: 20px;
    }
}