.Posts {
    background-color: white;
    border-radius: 18px;

    .Media {
        background-color: var(--main-bg);

        img {
            max-height: 400px;
            width: auto;
            object-fit: contain;
        }
    }

    .feed {
        p {
            color: var(--comment);
        }
    }
}