.Ad {
    .head {
        h1 {
            font-size: var(--heading);
        }

        p {
            color: var(--comment);
            font-size: var(--text);
        }
    }

    .AdImage {
        background-size: cover;
        background-position: center;
        border-radius: .75rem;
    }

    .suggestions {
        padding: 20px;
        position: relative;

        .UserList {
            width: 330px;
            min-height: 60px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            overflow-y: scroll;
            overflow-x: hidden;

            i.pi-spinner {
                bottom: 25px;
                font-size: 2em;
                position: absolute;
            }
        }
    }
}