.Posts {
    background-color: white;
    border-radius: 18px;

    .mediaRepresent {
        background-color: var(--main-bg);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: max-content;
        background: aquamarine;
        overflow: hidden;

        >* {
            height: auto;
            width: 100%;
        }
    }


    .feed {
        span {
            transition: 0.3s ease-in-out;
            padding: 5px 10px;
            border-radius: 6px;

            &:hover {
                color: white;
            }
        }

        span.reactionHover {
            &:hover {
                background-color: #105f78;
            }
        }

        span.commentHover {
            &:hover {
                background-color: #ff6a00;
            }
        }

        span.deleteHover {
            &:hover {
                background-color: rgb(247, 57, 57);
            }
        }
    }
}