// Define common colors as variables
$primary-color: #3b5998;
$background-color: #f0f2f5;

.profile_Page {
    grid-column: 1/-1;
    transform: translate(-20px, -20px);
    width: calc(100% + 20px);

    .profile {
        position: relative;

        .cover {
            width: 100%;
            height: 200px;
        }

        .pic {
            position: absolute;
            width: 150px;
            height: 150px;
            top: 0px;
            left: 0px;
            transform: translate(25px, 125px);
            border-radius: 50%;
            border: 3px solid var(--blue);
            overflow: hidden;

        }

        :is(.cover, .pic) img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .name {
        background-color: white;
        min-height: 80px;
        display: flex;
        justify-content: space-between;

        .leftColumn {
            padding: 10px 20px;
            flex-basis: 50%;

            h1 {
                transform: translate(185px, 0px);

            }

            p {
                transform: translate(185px, 0px);
                color: var(--comment);
            }
        }

        .btns {
            padding: 10px 20px;
            align-items: center;
            flex-basis: 50%;
            text-align: end;

            button {
                margin: 0px 5px;
                padding: 5px 10px;
                background-color: #d9d9d9;
                border: none;
                border-radius: 2px;
                font-size: var(--text);

                &.active {
                    color: white;
                    background-color: var(--blue);
                }
            }
        }
    }

    .details {
        background-color: white;
        padding: 20px;

        .bio {
            span {
                font-weight: 900;
            }

            h3 {
                font-weight: 400;
                font-style: italic;
                font-family: monospace;
                color: var(--comment);
            }
        }

        .info {
            span {
                margin: 10px 0px;

            }

            i {
                margin: 0px 10px;
            }
        }
    }

    .Tabs {
        background-color: white;
        padding: 15px 25px;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        p.empty {
            background-color: var(--blue);
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 3px;
            width: 20px;
            transition: .3s ease-out;
        }

        span {
            font-weight: 700;
            position: relative;
            padding: 10px 20px;
            transition: .3s ease;
            margin: 0px 10px;
            border-radius: 3px;

            &:hover {
                color: var(--blue);
                background-color: #bbbbbb4a;
            }
        }
    }

    .ProfileContent {
        padding: 20px 50px;

        .Post-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .Posts {
                border: 1px solid #d9d9d9;
                margin: 20px 0px;
                width: 50%;
            }
        }

    }
}

@media screen and (max-width:768px) {
    .profile_Page {
        width: calc(100% + 40px);

        .name {
            flex-direction: column;
            align-items: center;

            .leftColumn {

                h1,
                p {
                    transform: translate(0px, 0px);
                }
            }
        }

        .Post-section .Posts {
            width: 100% !important;

            .feed span p {
                display: none;
            }
        }
    }
}