.SideBar {
    background-color: white;
    height: max-content;

    .head {
        .left {
            padding: 0.75rem 0px;
            border-bottom: 1px solid var(--main-bg);

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .nameId {
                p {
                    color: var(--comment);
                }
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        margin: 5px 0px;

        &::before {
            content: "";
            position: absolute;
            background-color: var(--main-bg);
            width: 100%;
            height: 1px;
            bottom: -5px;
        }

        span {
            gap: 10px;

            p {
                color: var(--comment);
                font-size: var(--text);
            }
        }
    }

    .views {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        margin: 5px 0px;

        &::before {
            content: "";
            position: absolute;
            background-color: var(--main-bg);
            width: 100%;
            height: 1px;
            bottom: -5px;
        }

        div {
            p {
                color: var(--comment);
            }
        }
    }

    .Links {
        h2 {
            font-size: var(--heading);
            margin-bottom: 8xpx;
        }

        h3 {
            font-size: var(--name);
        }

        .info {
            &::before {
                display: none;
            }
        }
    }

    .p-button-icon {
        rotate: 90deg;
    }
}