.Upload {

    input[type="file"] {
        display: none;
    }

    #avatar {
        border-radius: 50%;
        object-fit: cover;
        height: 50px;
        width: 50px;
        flex-shrink: 0;
    }

    #link {
        border-top: 1px solid #e5e5e5;
        padding-top: 10px
    }

    #postButton {
        background-color: var(--blue);
        border: none;
        border-radius: 10px;
        padding: 3px 18px;
        font-weight: 800;
        color: white;
    }

}