.Upload {

    .preview {
        width: auto;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        >* {
            height: auto;
            width: 100%;
        }
    }

    input[type="file"] {
        display: none;
    }

    #avatar {
        border-radius: 50%;
        object-fit: cover;
        height: 50px;
        width: 50px;
        flex-shrink: 0;
    }

    #link {
        border-top: 1px solid #e5e5e5;
        padding-top: 10px
    }

    #postButton {
        background-color: var(--blue);
        border: none;
        border-radius: 10px;
        padding: 3px 18px;
        font-weight: 800;
        color: white;
    }

}

.Header {

    .p-input-icon-right {
        position: relative;

        i {
            color: black;
            font-size: 20px;
            transition: .2s ease-in;

            &:hover {
                color: var(--blue);
            }
        }

        .pi-search {
            top: 25px;
        }

        .searchItem {
            padding: 10px;
            width: 335px;
            min-height: 450px;
            right: -50px;
            top: 100%;
            background-color: rgba(165, 165, 165, 0.199);
            backdrop-filter: blur(5px);
            position: absolute;
            margin-top: 10px;

            .upper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                i {
                    rotate: 45deg;
                }
            }

            ul {
                padding: 20px 0px;
            }
        }

    }

    .icons {
        a {
            height: 20px;
        }

        a>i {
            color: black;
            font-size: 20px;
            transition: .2s ease-in;

            &:hover {
                color: var(--blue);
            }
        }

        .card {
            z-index: 9;

            >i {
                font-size: 20px;
                transition: .2s ease-in;
            }

            .modal {
                display: none;
            }

            &:hover>i {
                color: var(--blue);
            }

            &:hover .modal {
                display: block;
            }
        }

        .active i {
            color: var(--blue);
        }
    }
}