* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --main-bg: #d9d9d9;
  --blue: #20b9ea;
  --comment: #989898;
  --heading: 16px;
  --name: 14px;
  --text: 12px;
}
.Content-Container {
  font-family: monospace;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  gap: 20px;
  min-height: 100vh;
}
.Content-Container > * {
  border-radius: 18px;
}

.Content-Container aside {
  flex-basis: 250px;
}
.Ad {
  flex-basis: 250px;
  padding: 20px;
  background-color: aquamarine;
}
.Content-Container .Content {
  flex-basis: 50%;
  flex-shrink: 0;
  padding: 20px;
  background-color: aliceblue;
}
.content {
  background-image: url("./assets/Group 15.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
