* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --main-bg: #d9d9d9;
  --blue: #20b9ea;
  --comment: #989898;
  --heading: 16px;
  --name: 14px;
  --text: 12px;
}
html {
  scroll-behavior: smooth;
}
.Content-Container {
  font-family: monospace;
  display: flex;
  padding: 20px;
  gap: 20px;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--main-bg);
}
.Content-Container > * {
  border-radius: 18px;
}

.Content-Container aside {
  flex-basis: 250px;
}

.Ad .img {
  padding: 20px;
  background-color: white;
}
.Content-Container .Content {
  flex-basis: 40%;
  flex-shrink: 0;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0px 0.5rem;
}
.Content-Container .Content .allPosts {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
}
.content {
  background-image: url("./assets/Group 15.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  height: 20px;
  width: 5px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  background-color: var(--cyan-600);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}
